---
apiVersion: v1
kind: Service
metadata:
  name: imaginary-service
spec:
  selector:
    app: imaginary
  ports:
    - port: {{ imaginary_port }}
      targetPort: {{ imaginary_port }}
  type: LoadBalancer
  selector:
    app: imaginary

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: imaginary
spec:
  selector:
    matchLabels:
      app: imaginary
  replicas: 1
  template:
    metadata:
      labels:
        app: imaginary
    spec:
      containers:
      - name: imaginary
        image: h2non/imaginary:latest
        resources:
          requests:
              cpu: "{{ imaginary_cpu }}"
        args:
        - -enable-url-source=true
        - -concurrency=20
        - -cpus
        - "{{ imaginary_cpus }}"
        ports:
        - containerPort: {{ imaginary_port }}
        # resources:
          # limits:
          #   cpu: "16"
          # requests:
          #   cpu: "16"

---
 apiVersion: autoscaling/v1
 kind: HorizontalPodAutoscaler
 metadata:
   name: imaginary
 spec:
   scaleTargetRef:
     apiVersion: apps/v1
     kind: Deployment
     name: imaginary
   minReplicas: {{ min_replicas }}
   maxReplicas: {{ max_replicas }}
   targetCPUUtilizationPercentage: 95

---

apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: imaginary-ingress
  annotations:
    kubernetes.io/ingress.class: "nginx"
    cert-manager.io/issuer: "letsencrypt-prod"

spec:
  tls:
  - hosts:
    - img.cyverse.org
    secretName: imaginary-tls
  rules:
  - host: img.cyverse.org
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: varnish-svc
            port:
              number: 80
